:root {
    --zoom: 0px;
}

@font-face {
    font-family: 'font-primary-regular';
    src: url(/assets/fonts/Barlow-Regular.otf) format('opentype');
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'font-secondary-Regular';
    src: url(/assets/fonts/BarlowCondensed-Regular.otf) format('opentype');
    font-display: swap;
    font-style: normal;
}

body {
    font-family: 'font-primary-regular', 'Arial', 'Helvetica', 'sans-serif';
}

.font-primary-regular {
    font-family: 'font-primary-regular', 'Arial', 'sans-serif';
}

.font-secondary-regular {
    font-family: 'font-secondary-Regular', 'Arial', 'sans-serif';
}

