# .github/workflows/main.yml
on:
  push:
    branches:
      - feature/theme-provider
jobs:
  release:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        run: |
          actions/setup-node@v2
          
      - name: component npm install 
        run: |
          cd ./components && npm ci
      
      - name: Page npm install 
        run: |
          cd ../apps/pso && npm ci 
      
      - name: Export 
      - run: npm run export
          
