# .github/workflows/main.yml
on:
  push:
    branches:
      - feature/theme-provider
jobs:
  Component:
    name: Stage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '16.x'
                  
      - name: Install Dependencies component
        working-directory: ./components
        run: |
          npm ci
        
      - name: Install Dependencies Page
        working-directory: ./apps/pso
        run: |
          npm ci 
      
      - name: Build
        working-directory: ./component
        run: npm run build --if-present

      - name: Export 
        working-directory: ./apps/pso
        run: npm run export
      
    
          
