# .github/workflows/main.yml
on:
  push:
    branches:
      - feature/theme-provider
      
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
          
      - name: Install Dependencies component
        working-directory: ./components
        run: |
          npm ci
        
  Deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Install Dependencies Page
        working-directory: ./apps/pso
        run: |
          npm ci 

      - name: Export 
        working-directory: ./apps/pso
        run: npm run export
    
          
