# .github/workflows/main.yml
on:
  push:
    branches:
      - feature/theme-provider
      
jobs:
    
  Deploy:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Install Dependencies component
        working-directory: ./components
        run: |
          npm ci

      - name: Install Dependencies Page
        working-directory: ./apps/pso
        run: |
          npm ci 

      - name: Export 
        working-directory: ./apps/pso
        run: npm run export
      
      - name: Archive Action
        uses: ihiroky/archive-action@v1
        with:
          # Root directory.
          root_dir: ./apps/pso
          # Base directory; common prefix of all files and directories in the archive, relative to root_dir.
          base_dir: apps/out
          # Output file path. Supported extensions: zip, tar, tar.gz(tgz), tar.bz2(tbz2), tar.xz(txz)
          file_path: build.zip
        
      - name: Action Archiver
        # You may pin to the exact commit or the version.
        # uses: sibiraj-s/action-archiver@a49933394688e42916c1779c58b5379b102a8b72
        uses: sibiraj-s/action-archiver@v1.1.0
        with:
          # Current working directory for the action
          working-directory: ./apps/pso
          # The archive format to use. Either zip or tar
          format: tar
          # A File or directory or glob pattern to archive
          path: ./apps/pso/out
          # Name of the output file
          output: build


