# .github/workflows/main.yml
on:
  push:
    branches:
      - feature/theme-provider
  
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
          
      - name: Install Dependencies component
        working-directory: ./components
        run: |
          npm ci
        
  Deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Install Dependencies Page
        working-directory: ./apps/pso
        run: |
          npm ci 

      - name: Build
        working-directory: ./component
        run: npm run build --if-present

      - name: Export 
        working-directory: ./apps/pso
        run: npm run export
      
    
          
